.links__item {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */

    letter-spacing: 0.015em;
    text-decoration-line: underline;
    text-transform: uppercase;

    /* red */

    color: #F36956;
    margin-top: 35px;
    transition: 0.15s;
}

.links__item:hover {
    opacity: 0.85;
}

@media screen and (max-width: 1025px) {
    .links__item {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 550px) {
    .links__item {
        font-size: 12px;
        line-height: 16px;
    }
}

