.tables__text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    /* or 110% */

    letter-spacing: 0.015em;

    /* red */

    color: #F36956;
    width: calc(100% - 44px);
}